CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE balance_ledger (
    discord_id bigint NOT NULL,
    tokens bigint NOT NULL,
    CONSTRAINT "PK_balance_ledger" PRIMARY KEY (discord_id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230206015547_InitialMigration', '6.0.4');

COMMIT;

START TRANSACTION;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'nadcl') THEN
        CREATE SCHEMA nadcl;
    END IF;
END $EF$;

ALTER TABLE balance_ledger SET SCHEMA nadcl;

ALTER TABLE nadcl.balance_ledger ALTER COLUMN discord_id TYPE bigint;
ALTER TABLE nadcl.balance_ledger ALTER COLUMN discord_id DROP DEFAULT;
ALTER TABLE nadcl.balance_ledger ALTER COLUMN discord_id ADD GENERATED BY DEFAULT AS IDENTITY;

CREATE TABLE nadcl.discord_ids (
    discord_id bigint GENERATED BY DEFAULT AS IDENTITY,
    steam_id bigint NOT NULL,
    account_id bigint NOT NULL,
    discord_name text NOT NULL,
    CONSTRAINT "PK_discord_ids" PRIMARY KEY (discord_id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230211041330_DiscordName', '6.0.4');

COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.match_status (
    match_id bigint GENERATED BY DEFAULT AS IDENTITY,
    status integer NOT NULL,
    CONSTRAINT "PK_match_status" PRIMARY KEY (match_id)
);

CREATE TABLE nadcl.player_match_details (
    match_id bigint NOT NULL,
    player_slot integer NOT NULL,
    account_id bigint NOT NULL,
    hero_id integer NOT NULL,
    item_0 integer NOT NULL,
    item_1 integer NOT NULL,
    item_2 integer NOT NULL,
    item_3 integer NOT NULL,
    item_4 integer NOT NULL,
    item_5 integer NOT NULL,
    backpack_0 integer NOT NULL,
    backpack_1 integer NOT NULL,
    backpack_2 integer NOT NULL,
    item_neutral integer NOT NULL,
    kills integer NOT NULL,
    deaths integer NOT NULL,
    assists integer NOT NULL,
    leaver_status integer NOT NULL,
    last_hits integer NOT NULL,
    denies integer NOT NULL,
    gold_per_min integer NOT NULL,
    xp_per_min integer NOT NULL,
    level integer NOT NULL,
    hero_damage integer NOT NULL,
    tower_damage integer NOT NULL,
    hero_healing integer NOT NULL,
    gold integer NOT NULL,
    gold_spent integer NOT NULL,
    scaled_hero_damage integer NOT NULL,
    scaled_tower_damage integer NOT NULL,
    scaled_hero_healing integer NOT NULL,
    aghanims_scepter integer NOT NULL,
    aghanims_shard integer NOT NULL,
    moonshard integer NOT NULL,
    net_worth bigint NOT NULL,
    team_number integer NOT NULL,
    team_slot integer NOT NULL,
    CONSTRAINT "PK_player_match_details" PRIMARY KEY (match_id, player_slot)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20230211191120_DiscordCommands', '6.0.4');

COMMIT;

START TRANSACTION;

ALTER TABLE nadcl.player_match_details ALTER COLUMN xp_per_min DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN tower_damage DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN team_slot DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN team_number DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN scaled_tower_damage DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN scaled_hero_healing DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN scaled_hero_damage DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN net_worth DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN moonshard DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN level DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN leaver_status DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN last_hits DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN kills DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_neutral DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_5 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_4 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_3 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_2 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_1 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN item_0 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN hero_healing DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN hero_damage DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN gold_spent DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN gold_per_min DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN gold DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN denies DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN deaths DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN backpack_2 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN backpack_1 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN backpack_0 DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN assists DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN aghanims_shard DROP NOT NULL;

ALTER TABLE nadcl.player_match_details ALTER COLUMN aghanims_scepter DROP NOT NULL;


COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.bets_streaks (
    discord_name text NOT NULL,
    streak bigint NOT NULL,
    CONSTRAINT "PK_bets_streaks" PRIMARY KEY (discord_name)
);

CREATE TABLE nadcl.bromance_last_60 (
    bro_1_name text NOT NULL,
    bro_2_name text NOT NULL,
    total_wins integer NOT NULL,
    total_matches integer NOT NULL,
    CONSTRAINT "PK_bromance_last_60" PRIMARY KEY (bro_1_name, bro_2_name)
);

CREATE TABLE nadcl.matches_streaks (
    discord_name text NOT NULL,
    streak bigint NOT NULL,
    CONSTRAINT "PK_matches_streaks" PRIMARY KEY (discord_name)
);


COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.dota_leagues (
    league_id integer GENERATED BY DEFAULT AS IDENTITY,
    league_name text NULL,
    is_active boolean NOT NULL,
    CONSTRAINT "PK_dota_leagues" PRIMARY KEY (league_id)
);

CREATE TABLE nadcl.dota_match_history (
    match_id bigint GENERATED BY DEFAULT AS IDENTITY,
    series_id integer NOT NULL,
    league_id integer NOT NULL,
    series_type integer NOT NULL,
    match_seq_num bigint NOT NULL,
    start_time bigint NOT NULL,
    lobby_type integer NOT NULL,
    radiant_team_id bigint NOT NULL,
    dire_team_id bigint NOT NULL,
    CONSTRAINT "PK_dota_match_history" PRIMARY KEY (match_id),
    CONSTRAINT "FK_dota_match_history_dota_leagues_league_id" FOREIGN KEY (league_id) REFERENCES nadcl.dota_leagues (league_id) ON DELETE CASCADE
);

CREATE INDEX "IX_dota_match_history_league_id" ON nadcl.dota_match_history (league_id);


COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.dota_match_details (
    match_id bigint GENERATED BY DEFAULT AS IDENTITY,
    radiant_win boolean NOT NULL,
    duration integer NOT NULL,
    pre_game_duration integer NOT NULL,
    start_time bigint NOT NULL,
    match_seq_num bigint NOT NULL,
    tower_status_radiant integer NOT NULL,
    tower_status_dire integer NOT NULL,
    barracks_status_radiant integer NOT NULL,
    barracks_status_dire integer NOT NULL,
    cluster integer NOT NULL,
    first_blood_time integer NOT NULL,
    lobby_type integer NOT NULL,
    human_players integer NOT NULL,
    league_id integer NOT NULL,
    game_mode integer NOT NULL,
    flags integer NOT NULL,
    engine integer NOT NULL,
    radiant_score integer NOT NULL,
    dire_score integer NOT NULL,
    CONSTRAINT "PK_dota_match_details" PRIMARY KEY (match_id)
);

CREATE TABLE nadcl.dota_match_history_players (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    account_id bigint NOT NULL,
    player_slot integer NOT NULL,
    team_number integer NOT NULL,
    team_slot integer NOT NULL,
    hero_id integer NOT NULL,
    CONSTRAINT "PK_dota_match_history_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_history_players_dota_match_history_match_id" FOREIGN KEY (match_id) REFERENCES nadcl.dota_match_history (match_id) ON DELETE CASCADE
);

CREATE TABLE nadcl.dota_match_details_picks_bans (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    is_pick boolean NOT NULL,
    hero_id integer NOT NULL,
    team integer NOT NULL,
    "order" integer NOT NULL,
    CONSTRAINT "PK_dota_match_details_picks_bans" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_picks_bans_dota_match_details_match_id" FOREIGN KEY (match_id) REFERENCES nadcl.dota_match_details (match_id) ON DELETE CASCADE
);

CREATE TABLE nadcl.dota_match_details_players (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    account_id bigint NOT NULL,
    player_slot integer NOT NULL,
    team_number integer NULL,
    team_slot integer NULL,
    hero_id integer NOT NULL,
    item_0 integer NULL,
    item_1 integer NULL,
    item_2 integer NULL,
    item_3 integer NULL,
    item_4 integer NULL,
    item_5 integer NULL,
    backpack_0 integer NULL,
    backpack_1 integer NULL,
    backpack_2 integer NULL,
    item_neutral integer NULL,
    kills integer NULL,
    deaths integer NULL,
    assists integer NULL,
    leaver_status integer NULL,
    last_hits integer NULL,
    denies integer NULL,
    gold_per_min integer NULL,
    xp_per_min integer NULL,
    level integer NULL,
    net_worth bigint NULL,
    aghanims_scepter integer NULL,
    aghanims_shard integer NULL,
    moonshard integer NULL,
    hero_damage integer NULL,
    tower_damage integer NULL,
    hero_healing integer NULL,
    gold integer NULL,
    gold_spent integer NULL,
    scaled_hero_damage integer NULL,
    scaled_tower_damage integer NULL,
    scaled_hero_healing integer NULL,
    CONSTRAINT "PK_dota_match_details_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_players_dota_match_details_match_id" FOREIGN KEY (match_id) REFERENCES nadcl.dota_match_details (match_id) ON DELETE CASCADE
);

CREATE TABLE nadcl.dota_match_details_players_ability_upgrades (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    player_id integer NOT NULL,
    ability integer NOT NULL,
    time integer NOT NULL,
    level integer NOT NULL,
    CONSTRAINT "PK_dota_match_details_players_ability_upgrades" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_players_ability_upgrades_dota_match_deta~" FOREIGN KEY (player_id) REFERENCES nadcl.dota_match_details_players (id) ON DELETE CASCADE
);

CREATE INDEX "IX_dota_match_details_picks_bans_match_id" ON nadcl.dota_match_details_picks_bans (match_id);

CREATE INDEX "IX_dota_match_details_players_match_id" ON nadcl.dota_match_details_players (match_id);

CREATE INDEX "IX_dota_match_details_players_ability_upgrades_player_id" ON nadcl.dota_match_details_players_ability_upgrades (player_id);

CREATE INDEX "IX_dota_match_history_players_match_id" ON nadcl.dota_match_history_players (match_id);


COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.dota_heroes (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name text NULL,
    CONSTRAINT "PK_dota_heroes" PRIMARY KEY (id)
);


COMMIT;

START TRANSACTION;

CREATE TABLE nadcl.dota_teams (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name text NULL,
    tag text NULL,
    abbreviation text NULL,
    time_created bigint NOT NULL,
    logo bigint NOT NULL,
    logo_sponsor bigint NOT NULL,
    country_code text NULL,
    url text NULL,
    games_played integer NOT NULL,
    player_0_account_id bigint NOT NULL,
    player_1_account_id bigint NOT NULL,
    player_2_account_id bigint NOT NULL,
    player_3_account_id bigint NOT NULL,
    player_4_account_id bigint NOT NULL,
    player_5_account_id bigint NOT NULL,
    admin_account_id bigint NOT NULL,
    CONSTRAINT "PK_dota_teams" PRIMARY KEY (id)
);


COMMIT;
