START TRANSACTION;

CREATE TABLE "Kali".dota_match_details (
    match_id bigint GENERATED BY DEFAULT AS IDENTITY,
    radiant_win boolean NOT NULL,
    duration integer NOT NULL,
    pre_game_duration integer NOT NULL,
    start_time bigint NOT NULL,
    match_seq_num bigint NOT NULL,
    tower_status_radiant integer NOT NULL,
    tower_status_dire integer NOT NULL,
    barracks_status_radiant integer NOT NULL,
    barracks_status_dire integer NOT NULL,
    cluster integer NOT NULL,
    first_blood_time integer NOT NULL,
    lobby_type integer NOT NULL,
    human_players integer NOT NULL,
    league_id integer NOT NULL,
    game_mode integer NOT NULL,
    flags integer NOT NULL,
    engine integer NOT NULL,
    radiant_score integer NOT NULL,
    dire_score integer NOT NULL,
    CONSTRAINT "PK_dota_match_details" PRIMARY KEY (match_id)
);

CREATE TABLE "Kali".dota_match_history_players (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    account_id bigint NOT NULL,
    player_slot integer NOT NULL,
    team_number integer NOT NULL,
    team_slot integer NOT NULL,
    hero_id integer NOT NULL,
    CONSTRAINT "PK_dota_match_history_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_history_players_dota_match_history_match_id" FOREIGN KEY (match_id) REFERENCES "Kali".dota_match_history (match_id) ON DELETE CASCADE
);

CREATE TABLE "Kali".dota_match_details_picks_bans (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    is_pick boolean NOT NULL,
    hero_id integer NOT NULL,
    team integer NOT NULL,
    "order" integer NOT NULL,
    CONSTRAINT "PK_dota_match_details_picks_bans" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_picks_bans_dota_match_details_match_id" FOREIGN KEY (match_id) REFERENCES "Kali".dota_match_details (match_id) ON DELETE CASCADE
);

CREATE TABLE "Kali".dota_match_details_players (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    match_id bigint NOT NULL,
    account_id bigint NOT NULL,
    player_slot integer NOT NULL,
    team_number integer NULL,
    team_slot integer NULL,
    hero_id integer NOT NULL,
    item_0 integer NULL,
    item_1 integer NULL,
    item_2 integer NULL,
    item_3 integer NULL,
    item_4 integer NULL,
    item_5 integer NULL,
    backpack_0 integer NULL,
    backpack_1 integer NULL,
    backpack_2 integer NULL,
    item_neutral integer NULL,
    kills integer NULL,
    deaths integer NULL,
    assists integer NULL,
    leaver_status integer NULL,
    last_hits integer NULL,
    denies integer NULL,
    gold_per_min integer NULL,
    xp_per_min integer NULL,
    level integer NULL,
    net_worth bigint NULL,
    aghanims_scepter integer NULL,
    aghanims_shard integer NULL,
    moonshard integer NULL,
    hero_damage integer NULL,
    tower_damage integer NULL,
    hero_healing integer NULL,
    gold integer NULL,
    gold_spent integer NULL,
    scaled_hero_damage integer NULL,
    scaled_tower_damage integer NULL,
    scaled_hero_healing integer NULL,
    CONSTRAINT "PK_dota_match_details_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_players_dota_match_details_match_id" FOREIGN KEY (match_id) REFERENCES "Kali".dota_match_details (match_id) ON DELETE CASCADE
);

CREATE TABLE "Kali".dota_match_details_players_ability_upgrades (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    player_id integer NOT NULL,
    ability integer NOT NULL,
    time integer NOT NULL,
    level integer NOT NULL,
    CONSTRAINT "PK_dota_match_details_players_ability_upgrades" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_match_details_players_ability_upgrades_dota_match_deta~" FOREIGN KEY (player_id) REFERENCES "Kali".dota_match_details_players (id) ON DELETE CASCADE
);

CREATE INDEX "IX_dota_match_details_picks_bans_match_id" ON "Kali".dota_match_details_picks_bans (match_id);

CREATE INDEX "IX_dota_match_details_players_match_id" ON "Kali".dota_match_details_players (match_id);

CREATE INDEX "IX_dota_match_details_players_ability_upgrades_player_id" ON "Kali".dota_match_details_players_ability_upgrades (player_id);

CREATE INDEX "IX_dota_match_history_players_match_id" ON "Kali".dota_match_history_players (match_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20231231054941_MatchDetails', '6.0.4');

COMMIT;


