START TRANSACTION;

ALTER TABLE nadcl.dota_match_history DROP CONSTRAINT "FK_dota_match_history_dota_leagues_league_id";

DROP INDEX nadcl."IX_dota_match_history_league_id";

CREATE TABLE nadcl.dota_accounts (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name text NULL,
    CONSTRAINT "PK_dota_accounts" PRIMARY KEY (id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240105033835_Accounts', '6.0.4');

COMMIT;
