START TRANSACTION;

CREATE TABLE "Kali".dota_teams (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name text NULL,
    tag text NULL,
    abbreviation text NULL,
    time_created bigint NOT NULL,
    logo bigint NOT NULL,
    logo_sponsor bigint NOT NULL,
    country_code text NULL,
    url text NULL,
    games_played integer NOT NULL,
    player_0_account_id bigint NOT NULL,
    player_1_account_id bigint NOT NULL,
    player_2_account_id bigint NOT NULL,
    player_3_account_id bigint NOT NULL,
    player_4_account_id bigint NOT NULL,
    player_5_account_id bigint NOT NULL,
    admin_account_id bigint NOT NULL,
    CONSTRAINT "PK_dota_teams" PRIMARY KEY (id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240101091726_Teams', '6.0.4');

COMMIT;

