START TRANSACTION;

CREATE TABLE "Kali".dota_heroes (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name text NULL,
    CONSTRAINT "PK_dota_heroes" PRIMARY KEY (id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20231231102444_Heroes', '6.0.4');

COMMIT;


