START TRANSACTION;

ALTER TABLE nadcl.dota_fantasy_players ADD is_substitution boolean NOT NULL DEFAULT FALSE;

CREATE TABLE nadcl.fantasy_prizes (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    user_id text NOT NULL,
    prize_type integer NOT NULL,
    prize_timestamp bigint NOT NULL,
    CONSTRAINT "PK_fantasy_prizes" PRIMARY KEY (id),
    CONSTRAINT "FK_fantasy_prizes_AspNetUsers_user_id" FOREIGN KEY (user_id) REFERENCES nadcl."AspNetUsers" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_fantasy_prizes_user_id" ON nadcl.fantasy_prizes (user_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250612043410_PrizeSubs', '8.0.16');

COMMIT;


