START TRANSACTION;

ALTER TABLE nadcl.dota_fantasy_draft_players DROP CONSTRAINT "FK_dota_fantasy_draft_players_dota_fantasy_players_fantasy_pla~";

ALTER TABLE nadcl.dota_fantasy_players DROP CONSTRAINT "FK_dota_fantasy_players_dota_teams_team_id";

ALTER TABLE nadcl.dota_gc_match_metadata DROP CONSTRAINT "FK_dota_gc_match_metadata_dota_leagues_LeagueId";

ALTER TABLE nadcl.fantasy_match_player DROP CONSTRAINT "FK_fantasy_match_player_dota_accounts_AccountId";

ALTER TABLE nadcl.fantasy_match_player DROP CONSTRAINT "FK_fantasy_match_player_dota_teams_TeamId";

DROP INDEX nadcl."IX_dota_fantasy_normalized_averages_fantasy_player_id";

ALTER TABLE nadcl.dota_fantasy_draft_players DROP CONSTRAINT "PK_dota_fantasy_draft_players";

DROP INDEX nadcl."IX_dota_fantasy_draft_players_fantasy_draft_id";

ALTER TABLE nadcl.fantasy_match_player RENAME COLUMN "TeamId" TO team_id;

ALTER TABLE nadcl.fantasy_match_player RENAME COLUMN "AccountId" TO account_id;

ALTER INDEX nadcl."IX_fantasy_match_player_TeamId" RENAME TO "IX_fantasy_match_player_team_id";

ALTER INDEX nadcl."IX_fantasy_match_player_AccountId" RENAME TO "IX_fantasy_match_player_account_id";

ALTER TABLE nadcl.dota_gc_match_metadata RENAME COLUMN "LeagueId" TO league_id;

ALTER INDEX nadcl."IX_dota_gc_match_metadata_LeagueId" RENAME TO "IX_dota_gc_match_metadata_league_id";

UPDATE nadcl.fantasy_match_player SET team_id = 0 WHERE team_id IS NULL;
ALTER TABLE nadcl.fantasy_match_player ALTER COLUMN team_id SET NOT NULL;
ALTER TABLE nadcl.fantasy_match_player ALTER COLUMN team_id SET DEFAULT 0;

UPDATE nadcl.dota_gc_match_metadata SET league_id = 0 WHERE league_id IS NULL;
ALTER TABLE nadcl.dota_gc_match_metadata ALTER COLUMN league_id SET NOT NULL;
ALTER TABLE nadcl.dota_gc_match_metadata ALTER COLUMN league_id SET DEFAULT 0;

UPDATE nadcl.dota_gc_match_metadata as mm
SET league_id = mh.league_id
FROM nadcl.dota_match_history mh
WHERE mm.match_id = mh.match_id;

ALTER TABLE nadcl.dota_fantasy_leagues ADD is_private boolean NOT NULL DEFAULT FALSE;

ALTER TABLE nadcl.dota_fantasy_draft_players ADD CONSTRAINT "PK_dota_fantasy_draft_players" PRIMARY KEY (fantasy_draft_id, draft_order);

CREATE TABLE nadcl.dota_fantasy_private_league_players (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    fantasy_league_id integer NOT NULL,
    discord_user_id bigint NOT NULL,
    fantasy_league_join_date bigint NOT NULL,
    CONSTRAINT "PK_dota_fantasy_private_league_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_fantasy_private_league_players_discord_users_discord_u~" FOREIGN KEY (discord_user_id) REFERENCES nadcl.discord_users (id) ON DELETE CASCADE,
    CONSTRAINT "FK_dota_fantasy_private_league_players_dota_fantasy_leagues_fa~" FOREIGN KEY (fantasy_league_id) REFERENCES nadcl.dota_fantasy_leagues (id) ON DELETE CASCADE
);

CREATE INDEX "IX_fantasy_match_league_id" ON nadcl.fantasy_match (league_id);

CREATE UNIQUE INDEX "IX_dota_fantasy_normalized_averages_fantasy_player_id" ON nadcl.dota_fantasy_normalized_averages (fantasy_player_id);

CREATE INDEX "IX_dota_fantasy_draft_players_fantasy_player_id" ON nadcl.dota_fantasy_draft_players (fantasy_player_id);

CREATE INDEX "IX_dota_fantasy_private_league_players_discord_user_id" ON nadcl.dota_fantasy_private_league_players (discord_user_id);

CREATE INDEX "IX_dota_fantasy_private_league_players_fantasy_league_id" ON nadcl.dota_fantasy_private_league_players (fantasy_league_id);

ALTER TABLE nadcl.dota_fantasy_draft_players ADD CONSTRAINT "FK_dota_fantasy_draft_players_dota_fantasy_players_fantasy_pla~" FOREIGN KEY (fantasy_player_id) REFERENCES nadcl.dota_fantasy_players (id) ON DELETE CASCADE;

ALTER TABLE nadcl.dota_fantasy_players ADD CONSTRAINT "FK_dota_fantasy_players_dota_teams_team_id" FOREIGN KEY (team_id) REFERENCES nadcl.dota_teams (id) ON DELETE CASCADE;

ALTER TABLE nadcl.dota_gc_match_metadata ADD CONSTRAINT "FK_dota_gc_match_metadata_dota_leagues_league_id" FOREIGN KEY (league_id) REFERENCES nadcl.dota_leagues (id) ON DELETE CASCADE;

ALTER TABLE nadcl.fantasy_match ADD CONSTRAINT "FK_fantasy_match_dota_leagues_league_id" FOREIGN KEY (league_id) REFERENCES nadcl.dota_leagues (id) ON DELETE CASCADE;

ALTER TABLE nadcl.fantasy_match_player ADD CONSTRAINT "FK_fantasy_match_player_dota_accounts_account_id" FOREIGN KEY (account_id) REFERENCES nadcl.dota_accounts (id) ON DELETE CASCADE;

ALTER TABLE nadcl.fantasy_match_player ADD CONSTRAINT "FK_fantasy_match_player_dota_teams_team_id" FOREIGN KEY (team_id) REFERENCES nadcl.dota_teams (id) ON DELETE CASCADE;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240923002510_PrivateFantasyLeague', '8.0.1');

COMMIT;


