START TRANSACTION;

CREATE TABLE nadcl.discord_outbox (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    event_object text NOT NULL,
    event_type text NOT NULL,
    object_key text NOT NULL,
    message_sent_timestamp bigint NOT NULL,
    CONSTRAINT "PK_discord_outbox" PRIMARY KEY (id)
);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250120035947_DiscordOutbox', '8.0.1');

COMMIT;


