START TRANSACTION;

CREATE TABLE nadcl.dota_fantasy_drafts (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    league_id bigint NOT NULL,
    discord_account_id bigint NULL,
    draft_created timestamp with time zone NULL,
    draft_last_updated timestamp with time zone NULL,
    draft_pick_one bigint NOT NULL,
    draft_pick_two bigint NOT NULL,
    draft_pick_three bigint NOT NULL,
    draft_pick_four bigint NOT NULL,
    draft_pick_five bigint NOT NULL,
    CONSTRAINT "PK_dota_fantasy_drafts" PRIMARY KEY (id)
);

CREATE TABLE nadcl.dota_fantasy_players (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    league_id bigint NOT NULL,
    team_id bigint NOT NULL,
    dota_account_id bigint NOT NULL,
    CONSTRAINT "PK_dota_fantasy_players" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_fantasy_players_dota_accounts_dota_account_id" FOREIGN KEY (dota_account_id) REFERENCES nadcl.dota_accounts (id) ON DELETE CASCADE,
    CONSTRAINT "FK_dota_fantasy_players_dota_teams_team_id" FOREIGN KEY (team_id) REFERENCES nadcl.dota_teams (id)
);

CREATE TABLE nadcl.dota_fantasy_draft_players (
    "FantasyDraftId" bigint NOT NULL,
    "FantasyPlayerId" bigint NOT NULL,
    CONSTRAINT "PK_dota_fantasy_draft_players" PRIMARY KEY ("FantasyPlayerId", "FantasyDraftId"),
    CONSTRAINT "FK_dota_fantasy_draft_players_dota_fantasy_drafts_FantasyDraft~" FOREIGN KEY ("FantasyDraftId") REFERENCES nadcl.dota_fantasy_drafts (id) ON DELETE CASCADE,
    CONSTRAINT "FK_dota_fantasy_draft_players_dota_fantasy_players_FantasyPlay~" FOREIGN KEY ("FantasyPlayerId") REFERENCES nadcl.dota_fantasy_players (id)
);

CREATE INDEX "IX_dota_fantasy_draft_players_FantasyDraftId" ON nadcl.dota_fantasy_draft_players ("FantasyDraftId");

CREATE UNIQUE INDEX "IX_dota_fantasy_players_dota_account_id" ON nadcl.dota_fantasy_players (dota_account_id);

CREATE INDEX "IX_dota_fantasy_players_team_id" ON nadcl.dota_fantasy_players (team_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20240107094025_FantasyDraft', '6.0.4');

COMMIT;


