START TRANSACTION;

CREATE TABLE nadcl.fantasy_ledger (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    discord_id bigint NOT NULL,
    source_type text NOT NULL,
    source_id integer NOT NULL,
    amount numeric NOT NULL,
    ledger_recorded_time bigint NOT NULL,
    CONSTRAINT "PK_fantasy_ledger" PRIMARY KEY (id),
    CONSTRAINT "FK_fantasy_ledger_discord_users_discord_id" FOREIGN KEY (discord_id) REFERENCES nadcl.discord_users (id) ON DELETE CASCADE
);

CREATE INDEX "IX_fantasy_ledger_discord_id" ON nadcl.fantasy_ledger (discord_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250328012225_FantasyLedger', '8.0.1');

COMMIT;


