START TRANSACTION;

ALTER TABLE nadcl.dota_fantasy_budget_probability DROP COLUMN cumulative_probability;

ALTER TABLE nadcl.dota_fantasy_budget_probability DROP COLUMN quintile;

ALTER TABLE nadcl.dota_fantasy_budget_probability RENAME COLUMN probability TO "Cost";

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250602071814_Cost', '8.0.16');

COMMIT;


