START TRANSACTION;

CREATE TABLE nadcl.dota_gc_match_detail_picks_bans (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    is_pick boolean NOT NULL,
    team bigint NOT NULL,
    hero_id integer NOT NULL,
    "MatchId" numeric(20,0) NOT NULL,
    CONSTRAINT "PK_dota_gc_match_detail_picks_bans" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_dota_gc_match_detail_picks_bans_dota_gc_match_details_Match~" FOREIGN KEY ("MatchId") REFERENCES nadcl.dota_gc_match_details (match_id) ON DELETE CASCADE
);

CREATE INDEX "IX_dota_gc_match_detail_picks_bans_MatchId" ON nadcl.dota_gc_match_detail_picks_bans ("MatchId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250529023440_GcDotaPicksBans', '8.0.16');

COMMIT;

