START TRANSACTION;

CREATE TABLE nadcl.dota_fantasy_budget_probability (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    fantasy_league_id integer NOT NULL,
    account_id bigint NOT NULL,
    quintile integer NOT NULL,
    probability numeric NOT NULL,
    cumulative_probability numeric NOT NULL,
    CONSTRAINT "PK_dota_fantasy_budget_probability" PRIMARY KEY (id),
    CONSTRAINT "FK_dota_fantasy_budget_probability_dota_accounts_account_id" FOREIGN KEY (account_id) REFERENCES nadcl.dota_accounts (id) ON DELETE CASCADE,
    CONSTRAINT "FK_dota_fantasy_budget_probability_dota_fantasy_leagues_fantas~" FOREIGN KEY (fantasy_league_id) REFERENCES nadcl.dota_fantasy_leagues (id) ON DELETE CASCADE
);

CREATE INDEX "IX_dota_fantasy_budget_probability_account_id" ON nadcl.dota_fantasy_budget_probability (account_id);

CREATE INDEX "IX_dota_fantasy_budget_probability_fantasy_league_id" ON nadcl.dota_fantasy_budget_probability (fantasy_league_id);

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20250323011607_FantasyCost', '8.0.1');

COMMIT;

