csharp-ef-data-loader/bin
csharp-ef-data-loader/obj
csharp-ef-webapi/bin
csharp-ef-webapi/obj
csharp-ef-webapi.tests/bin
csharp-ef-webapi.tests/obj
data-access-library/bin
data-access-library/obj
data-access-library.tests/bin
data-access-library.tests/obj
csharp-ef-webapi/appsettings.Local.json
csharp-ef-data-loader/appsettings.Local.json
csharp-ef-webapi/aghanims-fantasy-webapi.tar
csharp-ef-data-loader/aghanims-fantasy-dataloader.tar