// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --nadcl-accent: #E63946;
  --nadcl-accent-dark: #9f0722;
  --nadcl-white: #E0E1DD;
  --nadcl-main-1: #778DA9;
  --nadcl-main-2: #415A77;
  --nadcl-main-3: #1B263B;
  --nadcl-main-4: #0D1B2A;
  --nadcl-blue-1: #192038;
}

.q-select__focus-target, .q-select__autocomplete-input {
    width: 1px;
    height: 1px;
  }